<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCPIAcquisition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SCPIAcquisition.Properties.Settings>
            <setting name="ComPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="DataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="StopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="Parity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="FrontPanelDisp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DispDigits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="MeasurementFunction" serializeAs="String">
                <value>DCV</value>
            </setting>
            <setting name="ShowGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowStartEndTime" serializeAs="String">
                <value>True</value>
            </setting>
        </SCPIAcquisition.Properties.Settings>
    </userSettings>
</configuration>